<h3>Question</h3> 
<div class="card">
  <div class="card-content row">
    <div class="col s10 l11">
      <span class="card-title"><%= @question.title %></span>
      <span class="crad-text"><%= @question.description %></span>
    </div>
  </div>
</div>
<%= link_to "Back", root_path, class: "btn grey darken-2" %>
<%= link_to "Answer", new_checklist_question_path, class: "btn orange accent-3" %> 