<div class="card-panel row nested-fields">
  <div class="col s9 l11"><%= f.input :title %></div>
  <div class="col s3 l1">
   <%= link_to_remove_association "remove", f, class: "btn-small red lighten-2" %>   
  </div> 
  <div class="col s12"><%= f.input :description %></div>
</div>